.available-letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
}
.available-letter-button-color {
    color: blue;
    background-color: grey;
}
.correct-letter {
	width: 30px;
    height: 30px;
    border-style: none;
    padding: 2px;
    float: left;
    margin: 2px;
}
.wrong-letter {
	width: 30px;
    height: 30px;
    border-style: none;
    padding: 2px;
    float: left;
    margin: 2px;
}
.jumbotron {
	padding-top: 1%;
	padding-bottom: 2%;
}
.lives-pill {
	margin: auto;
}
.guesses-pill{
	margin: auto;
}
#available-letters-display {
	margin-left: 2rem;
}
#wrong-geusses-display {
	margin-right: 2rem;
}
/*#answer-display {
	margin-right: 1rem;
	margin-left: 1rem;
}*/
.btn-disabled {
	background-color: white !important;
	color: white !important;
	border-style: none;
}